.index-new-user-logo {
    color: #34345B;
    font-size: 125px;
}

.quote-logo {
    color: #34345B;
    font-size: 100px;
}

.index-add-client-view:hover .index-new-user-logo  {
    color: #ee4266;
}

.index-add-client-view:hover .quote-logo  {
    color: #ee4266;
}

/* .index h1, .index h2, .index h3, .index h4, .index h5, .index h6 {
    font-family: 'Play', sans-serif;
} */

.index-add-client-view {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.index-add-client-view:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.index-add-order-view {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.index-add-order-view:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.index a {
    color: gray;
}

.index a:hover {
    color: #ee4266;
    text-decoration: none;
}

/* form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

form > input {
    padding: 5px;
    margin: 5px;
    width: 75%;
}
*/

.index-submit-btn {
    width: 20%;
    border-color: #ee4266;
    color: #fff;
    background-color: #ee4266;
    border-radius: 5px;
    text-shadow: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.index-progress-circle {
    color: #ee4266;
    text-align: center;
    width: 100%;
    font-size: 100px;
}

.index-progress-circle-green {
    color: #2DD881;
    text-align: center;
    width: 100%;
    font-size: 100px;
}

.index-list-item {
    background-color: #e8e8e8 !important;
}

.index-list-item:hover {
    background-color: #2a1e5c !important;
    color: #fff !important;
}

.index-text-highlight {
    color: #ee4266;
}

.index-client-pane > h2 {
    display: inline;
}

.index-item-img {
    height: 300px;
    width: auto;
}

.index-item-div {
    cursor: pointer;
}

.index-item-div > img:hover {
    opacity: 0.5;
    background-color: #e8e8e8;
}
  
.client-lists {
    width: 100%;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.order-lists {
    width: 100%;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.item-lists {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
    border-radius: 10px;
    background-color: #2a1e5c;

}

.edit-item {
    cursor: pointer;
}

.update-item {
    background-color: #FFFCF2;

}

.jo-font {
    font-family: 'Abril Fatface', cursive;

    
}

.heading-bar {
    background-color: #C6AC8F;
    padding: 5px;
   
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.search-logo {
    width: 100%;
}

.price-input {
    width: 200px;
}

.desc-p-info {
    width: 50% ;
}

@media (max-width: 768px) {
    .desc-p-info {
        width: 100%;
    }
}

.piece > p > i {
    padding-right: 10px;
    color: #EE4266
}

.piece {
    background: #34345B;
    color: #fff;
    padding: 10px;
}

.piece-light {
    background: #fff;
    color: #000;
    padding: 10px;
}

.piece-light > p > i {
    padding-right: 10px;
    color: #EE4266
}

.section-contact-us {
    background: #34345B;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.summary {
    background: #fff;
    padding: 50px;
    line-height: 2.5;
}

.contact {
    background: #C4CBCA;
    padding: 50px

}

.contact-link > a {
    font-size: 20px;
    color: #34345B;
    font-family: 'Syne', sans-serif;
    padding-left: 5px;
}

.contact-link > a:hover {
    color: #EE4266
}

.contact-link + a {
    font-size: 20px;
    color: #34345B;
    font-family: 'Syne', sans-serif;
}

.contact-link + a:hover {
    color: #EE4266
}

.tabs-destinations {
    background: #fff;
    padding: 50px;
    line-height: 2.5;
}

.main-bg {
    background-color: #34345B;
}

.main-bg a {
    color: #34345B
}

.main-bg a:hover {
    color: #EE4266
}

.globe-img {
    width: 100%;

}
/* Web Responsive */
/* .logo-container {
    background-image: url('../teloentrego.png') no-repeat center;
    background-size: contain;
    width: 100%;
    padding-top: 42%;
} */

